*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.container{
  max-width: 900px;
  display: flex;
  height: 100%;
  align-items: center;
  gap: 20px;
}
.kotak1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kotak2{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}