body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav{
  position:absolute;
  top:0;
  width: 100vw;
  height: 4rem;
  background-color: azure;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);


}
.container{
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;

}
.nav2 ul{
  display: flex;
  justify-content: start;
  list-style: none;
  gap: 1rem;
}
.nav2 a {
  text-decoration: none;
  color: black;
}

.containerhome{
  padding: 0px 20px;
  display: flex;
  gap: 10rem;
  flex-direction: column;
  align-items: center;



}

.search{
  margin-top: 4rem;
  width: 50vw;
  background-color: darkgray;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.inputcari{
  margin-top:30px;
  width: 90%;
  height: 40px;
  border-color: transparent;
  outline: none;  
}

.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: var(--primaryColor);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}



.datacontainer{
  background: transparent;
  
  

}
.datalist{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3rem;
  gap: 40px;

}
.card {
  width: 30rem;
  box-shadow:  2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  gap: 10px;

}
.card:hover{
  box-shadow:  4px 10px 5px 0px rgba(0, 0, 0, 0.5);

}
.card img{
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
}
.caption{
  padding: 10px 10px;


}
.caption2{
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px 10px;
}
.btn{

  padding: 10px 10px;
  background-color: aqua ; 
  width: 10rem;
  text-decoration: none;

}